{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<style>
{% block style %}

{% endblock %}
</style>
{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
<div class='row'>
    <div class='col-md-4 col-md-offset-1 '>
         <h1 >Igor Blog</h1>
        <p>This my first blog</p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join me &raquo;</a>
    </div>
    <div class='col-md-6' >
        <img src="{% static 'img/img1.jpg'%}" class = 'img-responsive'/>
    </div>
</div>
</div>

{% endblock %}


{% block SignUp %}
<div class="row">
    <div class="col-xs-3 pull-right">
        <p class='lead'>{{template_title}}</p>
        <form method='POST' action=''>
        {{form|crispy}}
        <input class="btn btn-lg btn-primary" type='submit' value='Sign Up'> {% csrf_token %}

        </input>
        </form>
    </div >
    <div class="col-sm-3">
       <p class='lead'>Open Source</p>
    <span class="fa-stack fa-lg fa-5x">
      <i class="fa fa-github fa-stack-2x"></i>
    </span>
    </div >
    <div class="col-sm-3">
        <p class='lead'>Data Analysis</p>
    <span class="fa-stack fa-lg fa-5x">
      <i class="fa fa-bar-chart fa-stack-2x"></i>
    </span>
    </div>
    <div class="col-sm-3">
        <p class='lead text-align-center'>Mechine Learning
        </p>
    <span class="fa-stack fa-lg fa-5x">
      <i class="fa fa-circle-o-notch fa-spin fa-stack-2x"></i>
      <i class="fa fa-superscript fa-stack-1x"></i>
    </span>
    </div class='lead'>
</div>
{% endblock %}

