{% extends "base.html" %}
{% load crispy_forms_tags %}

<style>
{% block style %}

{% endblock %}
</style>
{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
<div class='row'>
    <div class='col-sm-6'>
    <h1>Igor Blog</h1>
    <p>This my first blog</p>
    <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join me &raquo;</a>
    </p>
    </div>
    <div class='col-sm-6' style="background-color:black;height:300px">


    </div>
</div>
</div>

{% endblock %}


{% block SignUp %}
<div class="row">
    <div class="col-xs-3 pull-right">
        <p class='lead'>{{template_title}}</p>
        <form method='POST' action=''>
        {{form|crispy}}
        <input class="btn btn-lg btn-primary" type='submit' value='Sign Up'> {% csrf_token %}

        </input>
        </form>
    </div >
    <div class="col-sm-3">
       <p class='lead'>Built with Django</p>
    </div class='lead'>
    <div class="col-sm-3">
        <p class='lead'>Mechine Learning</p>
    </div class='lead'>
    <div class="col-sm-3">
        <p class='lead'>Data Analysis</p>
    </div>
</div>
{% endblock %}

